# Created by .ignore support plugin (hsz.mobi)
### Go template
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
### Example user template template
### Example user template

# IntelliJ project files
.idea
out
gen
main

# VsCode project files
.vscode/*

*.log
*.zip

log/*
*.swp
*.swo

go.sock

markapi
/conf/secret
output
vendor
test
.DS_Store
api_old.json
api_new.json
cmd/*

.history/